@using Project.ENTITY.Models
@using Project.BLL.Helpers
@using System.IO
@model Project.UI.Areas.UserPanel.Models.UserEditVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/UserPanel/Views/Shared/_Layout.cshtml";
}

<script src="~/design/template/assets/js/jquery-3.7.0.min.js"></script>

<h3>Hesap Ayarları</h3>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body profile-card">
            <div class="card-sidebar">
                <div class="profile-sidebar">
                    <div class="Profile">
                        <a href="/UserPanel/Profile/Index">Profil</a>
                    </div>
                    <div class="Security">
                        <a href="/UserPanel/Profile/Security">Güvenlik</a>
                    </div>
                    <div class="DeleteAccount">
                        <a href="#">Hesabı Sil</a>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <h4>Profilim</h4>
                <div class="Profile-Content">
                    <div class="user-image profile-image">
                        @if (File.Exists(Model.ImageUrl))
                        {
                            <div class="user-image-text">
                                @Model.ImageUrl
                            </div>
                        }
                        else
                        {
                            <div class="user-image-text">
                                @Html.GetInitials(Model.FullName)
                            </div>
                        }
                    </div>
                    <div class="user-info">
                        <div class="user-fullname">
                            @Model.FullName
                        </div>
                    </div>
                </div>
                <div class="Profile-Information">
                    <div class="information-content">
                        <h4>Kişisel Bilgiler</h4>
                        <form method="post" enctype="multipart/form-data" class="form">
                            <div class="form-group">
                                <label>İsim - Soyisim</label>
                                <span asp-validation-for="FullName" class="text-danger"></span>
                                <input type="text" asp-for="FullName" class="form-control col-sm-3" id="Name">
                            </div>
                            <div class="form-group">
                                <label>Mail</label>
                                <span asp-validation-for="Mail" class="text-danger"></span>
                                <input type="email" asp-for="Mail" class="form-control col-sm-3" id="Mail">
                            </div>
                            <div class="form-group">
                                <label>Telefon No</label>
                                <span asp-validation-for="Phone" class="text-danger"></span>
                                <input type="text" asp-for="Phone" class="form-control col-sm-3" id="Phone">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Güncelle</button>
                            </div>
                            <div class="text-danger" asp-validation-summary="ModelOnly">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



