@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/CustomerPanel/Views/Shared/_Layout.cshtml";
}

<h3>Hesap Ayarları</h3>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body profile-card">
            <div class="card-sidebar">
                <div class="profile-sidebar">
                    <div class="Profile">
                        <a href="btn">Profil</a>
                    </div>
                    <div class="Security">
                        <a href="btn">Güvenlik</a>
                    </div>
                    <div class="DeleteAccount">
                        <a href="btn">Hesabı Sil</a>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <h4>Profilim</h4>
                <div class="Profile-Content">
                    <div class="user-image profile-image">
                        <div class="user-image-text">
                            TÖ
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="user-fullname">
                            Taha Öztürk
                        </div>
                    </div>
                    <div class="user-edit">
                        <a href="#">Edit</a>
                    </div>
                </div>
                <div class="Profile-Information">
                    <div class="Information-Content">
                        <h4>Kişisel Bilgiler</h4>
                        <div class="profile-fullname">
                            <div class="profile-name">
                                <label class="profile-label">Ad</label>
                                Taha
                            </div>
                            <div class="profile-surname">
                                <label class="profile-label">Soyad</label>
                                Öztürk
                            </div>
                        </div>
                        <div class="profile-mailphone">
                            <div class="profile-mail">
                                <label class="profile-label">Email Adresi</label>
                                taharey2001@gmail.com
                            </div>
                            <div cclass="profile-phone">
                                <label class="profile-label">Telefon No</label>
                                +90 545 437 0564
                            </div>
                        </div>
                    </div>
                    <div class="personel-content-edit">
                        <a href="#">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

