
@{
    ViewData["Title"] = "Security";
    Layout = "~/Areas/CustomerPanel/Views/Shared/_Layout.cshtml";
}
@using Project.ENTITY.Models
@using Project.BLL.Helpers
@using System.IO
@model Project.UI.Areas.CustomerPanel.Models.UserPasswordVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/CustomerPanel/Views/Shared/_Layout.cshtml";
}

<script src="~/design/template/assets/js/jquery-3.7.0.min.js"></script>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body profile-card">
            <div class="card-sidebar">
                <div class="profile-sidebar">
                    <div class="Profile">
                        <a href="/CustomerPanel/Profile/Index">Profil</a>
                    </div>
                    <div class="Security">
                        <a href="/CustomerPanel/Profile/Security">Güvenlik</a>
                    </div>
                    <div class="DeleteAccount">
                        <a href="#">Hesabı Sil</a>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <h4>Profilim</h4>
                <div class="Profile-Content">
                    <div class="user-image profile-image">
                        @if (File.Exists(Model.ImageUrl))
                        {
                            <div class="user-image-text">
                                @Model.ImageUrl
                            </div>
                        }
                        else
                        {
                            <div class="user-image-text">
                                @Html.GetInitials(Model.FullName)
                            </div>
                        }
                    </div>
                    <div class="user-info">
                        <div class="user-fullname">
                            @Model.FullName
                        </div>
                    </div>
                </div>
                <div class="Profile-Information">
                    <div class="information-content">
                        <h4>Şifre Değiştirme</h4>
                        <form class="security-form" method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="Mail" />
                            <input type="hidden" asp-for="Phone" />
                            <input type="hidden" asp-for="FullName" />

                            <div class="form-group col-sm-4">
                                <label>Mevcut Şifre</label>
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                <input type="password" asp-for="CurrentPassword" class="form-control form-control-lg" name="CurrentPassword">
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Yeni Şifre</label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <input type="password" asp-for="Password" class="form-control form-control-lg" name="Password">
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Şifreyi Doğrulayın</label>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                <input type="password" asp-for="ConfirmPassword" class="form-control form-control-lg" name="ConfirmPassword">
                            </div>
                            <div class="text-danger" asp-validation-summary="ModelOnly">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Şifreyi Değiştir</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



