@model Project.UI.Areas.UserPanel.Models.UserViewModel

<ul class="nav">
    <li class="nav-item profile">
        <div class="profile-desc">
            <div class="profile-pic">
                <div class="count-indicator">
                    <img class="img-xs rounded-circle" src="@Model.ImageUrl" alt="">
                    <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                    <h5 class="mb-0 font-weight-normal">@Model.FullName</h5>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item nav-category">
        <span class="nav-link">Gezinti Çubuğu</span>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/UserPanel/Dashboard/Index">
            <span class="menu-icon">
                <i class="mdi mdi-view-dashboard"></i>
            </span>
            <span class="menu-title">Dashboard</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/UserPanel/Ticket/Index">
            <span class="menu-icon">
                <i class="mdi mdi-ticket"></i>
            </span>
            <span class="menu-title">Destek Talepleri</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/UserPanel/RoleManagement/Index">
            <span class="menu-icon">
                <i class="mdi mdi-account-details"></i>
            </span>
            <span class="menu-title">Rolleri Yönet</span>
        </a>
    </li>

</ul>

