@model Project.UI.Areas.CustomerPanel.Models.ServiceTicketVM

@{
    ViewData["Title"] = "AddTicket";
    Layout = "~/Areas/CustomerPanel/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Servis Bileti Ekleme Paneli</h4>
            <form class="form-sample" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label" asp-for="ServiceTicket.Task">İş Tanımı</label>
                            <span asp-validation-for="ServiceTicket.Task" class="text-danger validation-summary-errors"></span>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" asp-for="ServiceTicket.Task" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label class="col-sm-12 col-form-label" asp-for="ServiceTicket.TaskPriority">Görev Önceliği</label>
                                <span asp-validation-for="ServiceTicket.TaskPriority" class="text-danger validation-summary-errors"></span>
                                <div class="col-sm-12">
                                    <select class="form-control" asp-for="ServiceTicket.TaskPriority" asp-items="@Html.GetEnumSelectList<Project.ENTITY.Enums.Priority>()">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-sm-12 col-form-label">Fotoğraf</label>
                                <div class="col-sm-12">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="fileInput" asp-for="Image" multiple />
                                        <label class="custom-file-label" for="fileInput">Dosya Seç</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Açıklama</label>
                            <span asp-validation-for="ServiceTicket.Description" class="text-danger validation-summary-errors"></span>
                            <div class="col-sm-12">
                                <textarea class="form-control" asp-for="ServiceTicket.Description" rows="7" cols="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <button type="submit" class="btn align-middle btn-primary btn-icon-text">
                                    <i class="mdi mdi-file-check btn-icon-prepend"></i> Ekle
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>

<script>
    // Get the file input element
    const fileInput = document.getElementById('fileInput');
    // Get the label element
    const label = document.querySelector('.custom-file-label');

    // Add event listener for file selection
    fileInput.addEventListener('change', function (e) {
        // Get the list of selected files
        const fileList = Array.from(e.target.files);

        // Create an array to store the names of the selected files
        const fileNames = fileList.map(file => file.name);

        // Update the label's text with the list of selected file names
        label.textContent = fileNames.join(', ');
    });
</script>
