@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BBS Admin</title>

    <!-- plugins:css -->
    <link rel="stylesheet" href="~/design/template/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/design/template/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/design/template/assets/vendors/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/design/template/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/design/template/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/design/template/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="~/design/template/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/design/template/assets/css/style.css">

    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/design/template/assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
@*                <a class="sidebar-brand brand-logo" href="/UserPanel/Dashboard/Index"><img src="~/design/template/assets/images/cavologo.svg" alt="logo" /></a>
                <a class="sidebar-brand brand-logo-mini" style="padding-left:1.77rem" href="#"><img src="~/design/template/assets/images/cavominisvg.svg" alt="logo" /></a>*@
            </div>
            @await Component.InvokeAsync("UserSidebar")

        </nav>
        <div class="container-fluid page-body-wrapper">
            @await Component.InvokeAsync("UserNavbar")
            <div class="main-panel">
                <div class="content-wrapper-panel">
                    @RenderBody()
                </div>
                @await RenderSectionAsync("scripts", required:false)
                @await Component.InvokeAsync("NToastNotify")
            </div>
        </div>
    </div>

    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/design/template/assets/js/design.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/design/template/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/design/template/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/design/template/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="~/design/template/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="~/design/template/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/design/template/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/design/template/assets/js/off-canvas.js"></script>
    <script src="~/design/template/assets/js/hoverable-collapse.js"></script>
    <script src="~/design/template/assets/js/misc.js"></script>
    <script src="~/design/template/assets/js/settings.js"></script>
    <script src="~/design/template/assets/js/todolist.js"></script>
    <script src="~/design/template/assets/js/dashboard.js"></script>
    <script src="~/design/template/assets/js/design.js"></script>
    <!-- End custom js for this page -->
</body>
</html>
